.body {
   background-color: rgba(162, 237, 247, 0.952)
}

.container{
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 10%;
    
}
.result{
    border: 2px solid purple;
    border-bottom-style: outset;
    margin-left: 15%;
    margin-bottom: 2%;
    padding: 5%;
    width: 60%;
}

.comment-list{
    padding : 1%;
}

.trash{
    float: right;
}

.dropdown{
   margin-left:5%;
   display: none;
}

.comments{
    border: 1px solid rgb(128, 119, 0);
    border-bottom-style: outset;
    margin-left: 5%;
    margin-bottom: 2%;
    padding: 5%;
    width: 90%;
}

.comments input {
    margin-top: 3%;
}